<ion-view title="Signup" hide-back-button="true" style="background: #1b5a83" hide-nav-bar="true">

    <ion-content has-header="true" padding="true">

        <div class="list list-inset"  style="background: #1b5a83">
        <p>
            Yeah this is just a demo showing how views can be shown without tabs, then you can navigate
            to views within tabs. Additionally, only one set of tabs needs to be written for all of the different views that should go inside the tabs. (Compared to written the same tab links in the footer of every view that's in a tab.)
        </p>
        </div>
        <!--<form ng-submit="trySignup()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="loginData.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="loginData.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="loginData.password">
                </label>
                <div>
                    <button class="button button-block button-positive" type="submit">Create account</button>
                </div>
                <div style="text-align: center">
                    Or <a href="/#/login">Already have an account?</a>
                </div>
            </div>
        </form>-->
    </ion-content>
</ion-view>